.location_image, .project_image {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    float: left;
}

.location {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.location:last-child {
    border-bottom-width: 0px;
}

#mapContainer {
    height: 575px;
    position:relative;
}

#map {
    height: 500px;
}

#welcome {
    padding: 12px 0;
    overflow: hidden;
    background-color: #418040;
    z-index: 1;
    opacity: 1;
    left: 0;
    right: 0;
    bottom: 0;
}

#welcome h1 {
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    text-decoration: underline;
    float: left;
    position: relative;
    font-weight: 400;
}

#locationButton {
    background-color: white;
    color: #418040;
    border: 2px solid #418040;
    font-family: "Open Sans";
    float: right;
    font-size: 15px;
    border-radius: 8px;
    padding: 13px;
    position: relative;
    text-transform: uppercase
}

#map {
    height: 500px;
    position: relative;
}

#about {
    padding: 100px 0px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    background: #418040; /* Old browsers */
    background: -moz-linear-gradient(top, #418040 0%, #376837 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #418040 0%,#376837 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #418040 0%,#376837 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#about .small-content {
    max-width: 800px;
    margin: auto;
}

#about p {
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    margin-top: 35px;
}

.arrow-down {
    margin-left:1222px;
    width: 1px;
    height: 5px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #418040;
}
