.grid-inner {
    padding: 10px;
    overflow: hidden;
}

#splash {
    background-image: url(../images/idea_bg.jpg);
}

.idea {
    width: 100%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.25s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.idea:first-child {
    padding-top: 5px;
}

.idea:last-child {
    border-bottom: 0px solid transparent;
}

.idea .grid-item {
    overflow: hidden;
}

.idea .vote {
    float: left;
    margin-right: 15px;
}

.idea .vote i {
    font-size: 20px;
    cursor: pointer;
    color: #939393;
}


.idea_image {
    height: 200px;
    width: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    float: left;
    margin-right: 15px;
}

.idea .idea_desc {
    color: white;
    padding: 5px 5px;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #3a3a3a;
    overflow: hidden;
}

.idea .idea_desc .title {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.idea .idea_desc .address {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.7;
}

.idea .idea_desc .description {
    font-size: 13px;
    margin-top: 10px;
}

.idea .idea_desc .checklist {
    font-size: 13px;
}

.idea .idea_desc .checklist {
    margin-top: 10px;
}

.idea .idea_desc .checklist span {
    font-weight: 700;
}

.idea .idea_desc .checklist ul {
    margin-top: 0;
}

.idea .idea_desc .checklist ul li {
    font-weight: 400;
}

.idea .idea_desc .checklist ul span {
    margin-top: 0;
    font-weight: 400;
    color: rgba( 0, 0, 0, 0.5);
}

#pagination {
    float: right;
    text-align: right;
}

#pagination ul {
    padding-left: 0;
    margin: 0;
}

#pagination ul li {
    display: inline-block;
    margin-right: 6px;
}

#pagination ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #418040;
}
