.grid-inner {
    padding: 10px;
    overflow: hidden;
}

#splash {
    width: 100%;
    height: 400px;
    margin-top: 64px;
    background-image: url(../images/baltimore_bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

#splash .splash_content {
    max-width: 560px;
    height: 160px;
    color: white;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#splash .splash_content [name=search] {
    padding: 15px;
    -webkit-appearance: none;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    font-size: 16px;
    width: 400px;
    float: left;
}
#splash .splash_content [name=simple_search] {
    float: right;
    margin-top: 2px;
    padding: 15px 34px;
    background: #418040;
    border-radius: 2px;
    font-size: 16px;
    color: white;
    border: none;
    transition: opacity 0.15s ease;
    cursor: pointer;
    -webkit-font-smoothing: subpixel-antialiased;
}

#splash .splash_content [name=simple_search]:hover {
    opacity: 0.85;
}

.location {
    width: 25%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    position relative;
    float: left;
    transform: scale(1);
    transition: all 0.25s ease;
}

.location:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
    cursor: pointer;
    z-index: 3;
}

.location .grid-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.location_image {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
}

.location .location_desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 5px 5px;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

.location .location_desc .address {
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.location .location_desc .features {
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.location .grid-item .ideas_count {
    background: #ffae00;
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 700;
    border-radius: 50%;
    padding: 5px 0px 0px 11px;
    box-sizing: border-box;
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.35);
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
}

#pagination {
    float: right;
    text-align: right;
}

#pagination ul {
    padding-left: 0;
    margin: 0;
}

#pagination ul li {
    display: inline-block;
    margin-right: 6px;
}

#pagination ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #418040;
}
